.tr1 {
    border: none;
    border-color: white;
    text-align: justify;
}
table {
    border-collapse: collapse;
    border-color: silver;
    text-align: center;
    width: 100%;
}
.tr2 {
    border: none;
    border-color: white;
}
.th2 {
    width:444px;
    height: 57px;
    text-align: left;
    background-color: #DADADA;
    padding-left: 10px;
}
.th3 {
    width:276px ;
    height: 57px;
    background-color: #DADADA;
}
.th4 {
    width:251px ;
    height: 57px;
    background-color: #DADADA;
}
.td1 {
    width: 72px;
    height: 57px;
}     
.td3 {
    color: red;
    }
.th1 {
    width: 72px;
    height: 57px;
    background-color: #DADADA;
}
.td2 {
    text-align: justify;
    padding-left: 10px;    
}
.button1 {
    background-color: #FFD43A;
    border: none;
    border-radius: 10px;
    width:115px ;
    height: 45px;
}
.b1 {
    background-color: #FFD43A;
    width: 115px;
    height: 36px;
    border: none;
}
.b2 {
    background-color: #FF0000;
    width: 115px;
    height: 36px;
    border: none;
}
.th5 {
    width:251px ;
    height: 57px;
    background-color: #DADADA;
}
.table1 {
   border-collapse: collapse;
}
@font-face {
    font-family: chemi fonti;
    src: url("font/Inter-VariableFont_slnt\,wght.ttf");
    font-size: 16px;
}
td {
    font-family: chemi fonti;
}
th {
    font-family: chemi fonti;
}
h1 {
    font-family: chemi fonti;
}
button {
    font-family: chemi fonti;
}
input {
    font-family: chemi fonti;
}
td {
    padding: 10px;
}
 input {
    border-radius: 10px;
    border-color: #E0E0E0
 }
 .input1, .input3 {
    width: 201px;
    height: 45px;
 }
 .input2 {
    width: 593px;
    height: 45px;
 }
 .container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    max-height: 1174px;
 }
 